# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# PyCharm-related
.idea/

# Virtual environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store  # macOS
Thumbs.db  # Windows
